ApfsDriverLoader.efi
AppleImageLoader.efi
AppleSupport-v2.0.4-RELEASE.zip
AppleUiSupport.efi
Catalina_AppleDiagnostics.chunklist
Catalina_AppleDiagnostics.dmg
Catalina_BaseSystem.chunklist
Catalina_BaseSystem.dmg
Catalina_BaseSystem.vdi
Catalina_bootable_installer.vdi
Catalina_installation_files.viso
Catalina_InstallESD.part00
Catalina_InstallESD.part01
Catalina_InstallESD.part02
Catalina_InstallESD.part03
Catalina_InstallESD.part04
Catalina_InstallESD.part05
Catalina_InstallESD.part06
Catalina_InstallESD.part07
Catalina_InstallESDDmg.pkg
Catalina_InstallInfo.plist
macOS_bootinst.txt
macOS_csr-active-config.bin
macOS_MLB.bin
macOS_populate_bootable_installer_virtual_disk.viso
macOS_ROM.bin
macOS_startup.nsh
macOS_system-id.bin
